<!-- account.html -->
{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div class="media">
        <!-- Display profile picture within rounded circle -->
        <div class="col-auto">
            <img id="profile-img" class="account-img rounded-circle" src="{% if current_user.image_file %}{{ url_for('static', filename='uploaded_pics/' + current_user.image_file) }}{% endif %}" style="max-width: 150px; max-height: 150px;">
        </div>
        <div class="col-auto">
            <h2 class="account-heading">{{ current_user.username }}</h2>
            <p class="text-secondary">{{ current_user.email }}</p>
        </div>
    </div>
    <!-- Uploaded Picture -->
    <form id="upload-form" method="POST" action="{{ url_for('upload_pic') }}" enctype="multipart/form-data" class="form-inline">
        {{ form.hidden_tag() }}
        <div class="btn-toolbar">
            <input type="file" id="file-input" name="pic" accept="image/*" style="display: none;">
            <input type="button" value="Choose File" onclick="document.getElementById('file-input').click();" class="btn btn-primary btn-file">
            <input type="button" value="Upload" onclick="uploadImage()" class="btn btn-success btn-upload">
        </div>
    </form>
    <!-- Save Picture -->
    <form id="save-form" method="POST" action="{{ url_for('save_pic') }}" class="form-inline">
        {{ form.hidden_tag() }}
        <input type="hidden" name="pic" value="{{ current_user.image_file }}" >
        <input type="submit" value="Save Picture" class="btn btn-primary btn-save-picture">
    </form>

</div>

<script>
    function uploadImage() {
        var input = document.getElementById('file-input');
        if (input.files && input.files[0]) {
            var formData = new FormData();
            formData.append('pic', input.files[0]);

            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        // If upload is successful, update profile image
                        document.getElementById('profile-img').src = URL.createObjectURL(input.files[0]);
                    } else {
                        // Handle errors if any
                        console.error(xhr.responseText);
                    }
                }
            };

            xhr.open('POST', '/upload_pic');
            xhr.send(formData);
        }
    }
</script>
{% endblock %}
