<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='main.css') }}">
    {% if title %}
        <title>MyWiki {{ title }}</title>
    {% else %}
        <title>MyWiki</title>
    {% endif %}

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('home') }}">Wiki-OPSD</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <!-- Navbar left Side -->
                        <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav">
                            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                            <a class="nav-item nav-link" href="{{ url_for('daily_posts') }}">Daily Posts</a>

                        </div>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto">

                        <ul class="navbar-nav">
                            <a class="nav-link" href="{{ url_for('create_new_post') }}">New Post</a>
                            {% if current_user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('account') }}">Account</a>
                                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                                </li>
                            {% endif %}
                        </ul>
                </ul>
            </div>
        </div>
    </nav>
    <main role="main" class="container">
        <div class="row">
            <div class="col-lg-8">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>